.info {
  h1 {
    font-size: 20px;
    font-weight: bolder;
  }
  button {
    background-color: #0071c2;
    color: white;

    padding: 10px 20px;
    border-radius: 5px;
  }
}

.description {
  background-color: #ebf3ff;
  padding: 20px 10px;
  * {
    margin-bottom: 20px;
  }
  button {
    width: 100%;
  }
  strong {
    margin-right: 10px;
  }
  h1 {
    font-size: 18px;
  }
}
